/* Color Roots */
:root {
  --primary-color: #4361ee;
  --secondary-color: #3f37c9;
  --tertiary-color: #2d303e;
  --text-color: #333333;
  --background-color: #f9f9f9;
  --fourtuary-color: #fff;
}

/* Global Styles */
body {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Navigation Styles */
.navbar {
  background-color: var(--primary-color);
}

.navbar-brand,
.nav-link {
  color: var(--fourtuary-color);
}

/* Button Styles */
.btn {
  background-color: var(--secondary-color);
  color: var(--fourtuary-color);
}

.btn:hover {
  background-color: var(--tertiary-color);
}

/* Form Styles */
.form-control {
  border: 1px solid var(--tertiary-color);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--secondary-color);
}

.form-label {
  font-weight: bold;
}

/* Footer Styles */
.footer {
  background-color: var(--primary-color);
  color: var(--fourtuary-color);
  text-align: center;
  padding: 1rem;
}

.footer a {
  color: var(--fourtuary-color);
}

